@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Megrim&family=Monoton&family=UnifrakturMaguntia&display=swap');

body{
    background-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    list-style: none;
    text-decoration: none;
}

:root{
    --red:#108999;
    --white:#fff;
    --dark: #1e1c2a;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ffffff;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;

}
.li .nav-item{
    display: none;
    color: var(--white);
}
.glass {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 8px 100px 0 rgba(59, 22, 22, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(61, 38, 38, 0.18);
}
.formulary .glass {
    color: #1e1c2a;
    background-color: rgba(15, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 400px;
  }
.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo{
    color: #ffffff;
}
.logo span{
    color: var(--dark);
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}


.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
    background-attachment: fixed;
}
.navigation ul li a:hover{
    color: var(--red);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar.bar:nth-child(3)
{
    background: var(--red);
}

.home{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}
.home-text .tex-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;

}
.home-btn:hover{
    background: var(--dark);
}
.home.img img{
    width: 100%;
}

.logar{
    margin-top: 150px;
    background: var(--red);
    width: 100%;
    height: 700px;
}
.logar{
    color: white;
}
.formulary{
    margin-left: 50%;
    width: 50%;
    display: flex;
    font-family: Arial;
}
.navegar{
    width: 100%;
    height: 250px;
    text-align: center;
    font-size: 50px;
}

.images{
    margin-left: 20%;
    display: flex;
}
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar.bar:nth-child(2){
        opacity: 0;
    }
    .menu.ativo .bar.bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .tex-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home.img{
        width: 125%;
    }
}